@import url('./cssenv.css');
@import url('https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&display=swap');

.chords-container {
  border: 1px solid var(--main-color);
  border-block: 0px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;

  .chorditem-container {
    font-size: 2vw;
    flex: 1;
    padding: 10px;
    border: 1px solid var(--main-color);

    .chorditem-header {
      color: var(--main-color);
    }
    .chorditem-img {
      svg {
        path {
          fill: var(--main-color);
        }
      }
    }
  }
}
